@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

/* .window-app .window-content {
  background:  rgb(65, 58, 58);
  background-color: rgb(65, 58, 58);
} */

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

/* Surcharge les styles globaux de Foundry VTT FoundryVTT\resources\app\public\css\style.css (et non pas du système) */
div.app.window-app.shootergenericsystem.sheet.actor>section.window-content {
  background: transparent !important;
  padding: 20px !important;
  font-family: "Roboto", sans-serif !important;
  margin: 0px !important;
  background: url(../img/character_sheet_background.jpg) repeat center !important;
}

label.bio-title {
  margin: 7px 0px;
}

input[type="text"].no-border, textarea.no-border {
  border: none;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 3px;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Styles limited to shootergenericsystem sheets */
.app.window-app.shootergenericsystem.sheet.actor>section>form {
  /* padding: 20px; */
  /*background:url(../img/character_sheet_background.jpg) no-repeat center;*/
}

.shootergenericsystem .item-form {
  font-family: "Roboto", sans-serif;
}

.shootergenericsystem .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.shootergenericsystem .tox .tox-editor-container {
  background: #fff;
}

.shootergenericsystem .tox .tox-edit-area {
  padding: 0 8px;
}

.shootergenericsystem .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.shootergenericsystem .items-list .item-header {
  font-weight: bold;
}

.shootergenericsystem .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.shootergenericsystem .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.shootergenericsystem .items-list .item img {
  display: block;
}

.shootergenericsystem .items-list .item-name {
  margin: 0;
}

.shootergenericsystem .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  flex: 0 0 86px;
  text-align: right;
}

/* HEADER */

  .shootergenericsystem .sheet-header {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 150px;
    flex: 0 0 150px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 10px;
  }

  .shootergenericsystem .sheet-header .profile-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    height: 100%;
    margin-right: 10px;
  }

  .shootergenericsystem .sheet-header .profile-img>img {
    height: 100%;
  }

  /* Item */
  .shootergenericsystem .sheet-header .item-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 200px;
    height: 200px;
    margin-right: 10px;
  }

  .shootergenericsystem .sheet-header .header-fields {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .shootergenericsystem .sheet-header h1.charname {
    height: 50px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
  }

  .shootergenericsystem .sheet-header h1.charname input {
    width: 100%;
    height: 100%;
    margin: 0;
    /* background-color: #000;
    color: white;
    font-weight: bold; */
    border: none;
  }

/* resources */

  .resources {
    text-align: center;
  }

  input[type="text"] {
    border-radius: 0px;
  }

  input[type="text"].res {
    background-color: #000;
    border: none;
    color: #fff;
    font-weight: bold;
  }

  .resource-title {
    font-weight: bold;
    text-transform: uppercase;
  }

/* NAVIGATION */

.sheet nav.sheet-tabs {
  height: 40px;
  flex: 0 0 32px;
  margin: 4px 0;
  line-height: 32px;
  border: none;
}

.shootergenericsystem .tabs {
  height: 40px;
  /* border-bottom: 1px solid #AAA; */
}

.shootergenericsystem .tabs .item {
  line-height: 40px;
  font-weight: bold;
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
}

.shootergenericsystem .tabs .item.active {
  /* text-decoration: underline; */
  text-shadow: none;
  color: white;
  background-color: #000;
}

/* PERSO */

img {
  border: none;
}

input[type="text"].input-ability {
  border: none;
  width: 30px;
  height: 30px;
  color: white;
  font-weight: bold;
  background: black;
  border-radius: 50%;
  box-sizing: border-box;
  text-align: center;
}

/*abilities */
.ability {
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
}

.shootergenericsystem .ability-label {
  font-weight: bold;
  text-transform: uppercase;
  width: 150px;
}

.ability-rollable {
  margin-left: 10px;
  height: 30px;
}

.spec {
  align-items: center;
}

/* STYLE DE CHAT */
.d-roll-text {
  color: rgb(0, 0, 0);
}

.d-roll-title {
  background:url(../img/chat_top.png) no-repeat center;
  height: 40px;
  text-align: center;
  font-weight: bold;
  align-items: center;
}

.d-roll-content {
  background:url(../img/chat_center.png) repeat center;
}

.d-roll-actor-img {
  border: none;
  margin-right: 5px;
}

.d-roll-annoucement {
  border-top: 1px solid #6a522c;
  border-bottom: 1px solid #6a522c;
  height: 60px;
  align-items: center;
}

.d-roll-result {
  text-align: center;
  font-weight: bold;
}

.d-roll-result-details {
  height: 30px;
  align-items: center;
  background:url(../img/chat_center.png) repeat center;
}

.d-roll-result-message {
  height: 30px;
  align-items: center;
  background:url(../img/chat_bottom.png) no-repeat center;
}

.d-shape-d6 {
  width: 20px;
  height: 20px;
  margin: 3px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.d-flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
}

.d-flex-item {
  flex-grow: 1;
  text-align: center;
}

.d-flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.d-success {
  background-color: rgb(112, 161, 112);
}

.d-failure {
  background-color: rgb(151, 83, 83);
}

.d-reroll {
  background-color: rgb(110, 110, 110);
}

.d-arrow {
  color: white;
}

.d-roll-inline {
  display: inline-block;
}

/* ONGLET SPECIALITES */
/* .spec-add {
  background: #c4ab21;
} */

.specialisations-header {
  /* position: sticky;
  top: 0;
  left: 0;
  align-items: center;
  padding: 0 5px;
  margin: 5px 0; */
  background: #000000;
  border: none;
  text-shadow: none;
  /* border: 1px solid #AAA;
  border-radius: 2px;
  text-align: left;
  font-weight: bold; */
}

table thead {
  background: rgba(0, 0, 0, 0.5);
  color: #f0f0e0;
  /* text-shadow: 1px 1px #000; */
  border-bottom: 1px solid #000;
}

.specialisation-key {
  background: transparent;
  border: none;
}

.specialisation-control {
  flex: 0 0 20px;
  text-align: center;
  line-height: 28px;
  border: none;
}

.group-button {
  width: 100%;
  flex: 1;
  margin: 0;
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #f0f0e0;
  border-radius: 3px;
  font-size: 14px;
  line-height: 28px;
  display: block;
}