<div class="tab texasmarshal" data-group="primary" data-tab="texasmarshal">
    <div class="d-flex-col">
        <label for="data.background.texasMarshalPersona.firstname" class="resource-label">Prénom</label>
        <input type="text" name="data.background.texasMarshalPersona.firstname" value="{{data.background.texasMarshalPersona.firstname}}" data-dtype="Number"/>
    </div>
    <div class="d-flex-col">
        <label for="data.background.texasMarshalPersona.lastname" class="resource-label">Nom</label>
        <input type="text" name="data.background.texasMarshalPersona.lastname" value="{{data.background.texasMarshalPersona.lastname}}" data-dtype="Number"/>
    </div>
    <div class="d-flex-col">
        <label for="data.background.texasMarshalPersona.keywords" class="resource-label">Mots-clés</label>
        <textarea name="data.background.texasMarshalPersona.keywords" rows="10" cols="30">{{data.background.texasMarshalPersona.keywords}}</textarea>
    </div>
</div>