<div class="d-flex-col">
    <label for="data.background.texasMarshalPersona.firstname" class="resource-label">{{localize 'SGS.marshal.firstname'}}</label>
    <input type="text" name="data.background.texasMarshalPersona.firstname" value="{{data.background.texasMarshalPersona.firstname}}" data-dtype="Number"/>
</div>
<div class="d-flex-col">
    <label for="data.background.texasMarshalPersona.lastname" class="resource-label">{{localize 'SGS.marshal.lastname'}}</label>
    <input type="text" name="data.background.texasMarshalPersona.lastname" value="{{data.background.texasMarshalPersona.lastname}}" data-dtype="Number"/>
</div>
<div class="d-flex-col">
    <label for="data.background.texasMarshalPersona.keywords" class="resource-label">{{localize 'SGS.marshal.keywords'}}</label>
    <textarea name="data.background.texasMarshalPersona.keywords" rows="10" cols="30">{{data.background.texasMarshalPersona.keywords}}</textarea>
</div>