<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
      {{> "systems/shootergenericsystem/templates/actor/actor-sheet-header.html"}}

    {{!-- Sheet Tab Navigation --}}
      <nav class="sheet-tabs tabs" data-group="primary">
          <a class="item" data-tab="abilities">{{localize 'SGS.tab.abilities'}}</a>
          <a class="item" data-tab="outlaw">{{localize 'SGS.tab.outlaw'}}</a>
          <a class="item" data-tab="texasmarshal">{{localize 'SGS.tab.marshal'}}</a>
          <a class="item" data-tab="items">{{localize 'SGS.tab.items'}}</a>
      </nav>

    {{!-- Sheet Body --}}
      <section class="sheet-body">
        {{!-- ABILITIES AND SPECIALISATIONS TAB --}}
        <div class="tab abilities" data-group="primary" data-tab="abilities">
          {{> "systems/shootergenericsystem/templates/actor/actor-abilities.html" attributes=data.abilities dtypes=dtypes}}
          {{> "systems/shootergenericsystem/templates/actor/actor-specialisations.html"}}
        </div>

        {{!-- OUTLAW Tab --}}
        <div class="tab outlaw" data-group="primary" data-tab="outlaw">
          {{> "systems/shootergenericsystem/templates/actor/actor-outlaw.html"}}
        </div>

        {{!-- TEXAS MARSHAL Tab --}}
        <div class="tab texasmarshal" data-group="primary" data-tab="texasmarshal">
          {{> "systems/shootergenericsystem/templates/actor/actor-marshal.html"}}
        </div>

        {{!-- ITEMS Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
          {{> "systems/shootergenericsystem/templates/actor/actor-items.html"}}
        </div>
      </section>
</form>

