<header class="sheet-header">
    <div class="profile-img">
      <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    </div>
    <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
        <div class="resources grid grid-2col">
          <div>
              <div>{{loud (localize 'SGS.resources.health')}}</div>
              <div class="resource-content ability">
                <div>
                  Actual
                  <input type="text" class="res" minlength="2" maxlength="2" name="data.health.value" value="{{data.health.value}}" data-dtype="Number"/>
                </div>
                <div>
                  Max
                  <input type="text" minlength="2" maxlength="2" name="data.health.max" value="{{data.health.max}}" data-dtype="Number" disabled readonly/>
                </div>
              </div>
          </div>
          <div>
              <div>{{loud (localize 'SGS.resources.resources')}}</div>
              <div class="resource-content  ability">
                <div>
                  Actual
                  <input type="text" class="res" minlength="2" maxlength="2" name="data.resources.value" value="{{data.resources.value}}" data-dtype="Number"/>
                </div>
                <div>
                  Max
                  <input type="text" minlength="2" maxlength="2" name="data.resources.max" value="{{data.resources.max}}" data-dtype="Number" disabled readonly/>
                </div>
              </div>
          </div>
      </div>
    </div>
</header>