<header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
        <div class="resources grid grid-2col">
          <div class="resource flex-group-center">
              <label for="data.health.value" class="resource-label">{{data.health.label}}</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number"/>
                <span>/</span>
                <input type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number"/>
              </div>
          </div>
          <div class="resource flex-group-center">
              <label for="data.resources.value" class="resource-label">{{data.resources.label}}</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input type="text" name="data.resources.value" value="{{data.resources.value}}" data-dtype="Number"/>
                <span>/</span>
                <input type="text" name="data.resources.max" value="{{data.resources.max}}" data-dtype="Number" readonly/>
              </div>
          </div>
      </div>
    </div>
</header>