<table class="specialisations">
    <thead class="specialisations-header">
        <tr>
            <th>{{localize 'SGS.speciality.label'}}</th>
            <th>{{localize 'SGS.speciality.value'}}</th>
            <th>{{localize 'SGS.speciality.parent'}}</th>
            <th>{{localize 'SGS.throw'}}</th>
            <th><a class="spec-add-or-remove" data-action="add"><i class="fas fa-plus"></i></a></th>
        </tr>
    </thead>
    <tbody>
        {{#each data.specialisations as | specialisation key|}}
        {{#if specialisation}}
        <tr class="spec">
            <td>{{data.specialisation.label}}</td>
            <td>{{data.specialisation.value}}</td>
            <td>@abilities.act.label</td>
            <td class="d-flex-item">
                <a  class="roll-spec"
                    data-spec_value="{{data.specialisation.value}}" 
                    data-spec_label="{{data.specialisation.label}}"
                    data-spec_key="{{key}}" 
                    data-ability_value="{{data.specialisation.parentValue}}" 
                    data-ability_label="{{data.specialisation.parent}}"
                    data-type="specialisation"
                >
                    <img src="systems/shootergenericsystem/icons/d6_2_black.png" alt="roll">
                </a>
            </td>
            <td>
                <a class="spec-add-or-remove" data-action="remove" data-key="{{key}}">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        {{/if}}
        {{/each}}
    </tbody>
</table>