<div class="d-flex-col">
    <label class="bio-title" for="data.background.biography" class="resource-label">{{localize 'SGS.outlaw.biography'}}</label>
    <textarea class="no-border" name="data.background.biography" rows="5" cols="30">{{data.data.background.biography}}</textarea>
</div>
<div class="d-flex-col">
    <label class="bio-title" for="data.background.outlawPersona.purpose" class="resource-label">{{localize 'SGS.outlaw.motivation'}}</label>
    <textarea class="no-border" name="data.background.outlawPersona.purpose" rows="5" cols="30">{{data.data.background.outlawPersona.purpose}}</textarea>
</div>
<div class="d-flex-col">
    <label class="bio-title" for="data.background.outlawPersona.blackCoffin" class="resource-label">{{localize 'SGS.outlaw.coffin'}}</label>
    <textarea class="no-border" name="data.background.outlawPersona.blackCoffin" rows="5" cols="30">{{data.data.background.outlawPersona.blackCoffin}}</textarea>
</div>
<div class="d-flex-col">
    <label class="bio-title" for="data.background.outlawPersona.proof" class="resource-label">{{localize 'SGS.outlaw.evidence'}}</label>
    <textarea class="no-border" name="data.background.outlawPersona.proof" rows="5" cols="30">{{data.data.background.outlawPersona.proof}}</textarea>
</div>