.d-shape-d6 {
    width: 20px;
    height: 20px;
    margin: 3px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.d-flex-row {
    display: flex ;
    flex-direction: row;
}

.d-flex-col {
    display: flex ;
    flex-direction: column;
}

.d-success {
    background-color: green;
}

.d-failure {
    background-color: red;
}

.d-roll-inline {
    display: inline-block;
}

.d-roll-result {
    background-color: darkslategrey;
    color: white;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.d-roll-annoucement {
    background-color: darkslategrey;
    color: white;
}

.d-roll-actor-img {
    border: none;
}

.d-roll-text {
    color: white;
}