<div class="d-flex-col d-roll-text">
  <!-- title -->
  <div class="d-flex-row d-roll-title">
    <div>{{rollLabel}}</div>
  </div>

  <!-- content -->
  <div class="d-roll-content">
    <div class="d-flex-row d-roll-annoucement">
      <img class="d-roll-actor-img" src="{{actorImage}}" data-edit="img" title="{{actorName}}" height="50" width="50"/>
      {{#if punchline}}
      <div>{{actorName}} {{punchline}}</div>
      {{/if}}
    </div>
  </div>

  <!-- result -->
  <div class="d-roll-result">
    <div class="d-flex-row d-roll-result-details">
      {{#each dices as |dice|}}
        {{#if dice.reroll}}
          {{#if dice.reroll.success}}
          <div class="d-shape-d6 d-success">{{dice.reroll.value}}</div>
          {{else}}
          <div class="d-shape-d6 d-failure">{{dice.reroll.value}}</div>
          {{/if}}
          <span class="d-arrow"><</span><div class="d-shape-d6 d-reroll">{{dice.value}}</div>
        {{else}}
          {{#if dice.success}}
          <div class="d-shape-d6 d-success">{{dice.value}}</div>
          {{else}}
          <div class="d-shape-d6 d-failure">{{dice.value}}</div>
          {{/if}}
        {{/if}}
      {{/each}}
    </div>
    <div class="d-flex-row d-roll-result-message">
      <div>{{resultMsg}}</div>
    </div>
  </div>
</div>
