<div class="specialisations flexrow flex-group-left">
    <input type="text" placeholder="Tir aveugle" id="spec-label" class="spec-label" minlength="2" maxlength="20" size="20" name="specLabel" value=""/>
    <select id="spec-value" class="spec-value" name="specValue">
       <option value="1">1</option>
       <option value="2">2</option>
       <option value="3">3</option>
    </select>
    <select id="spec-parent" class="spec-parent" name="specParents">
       <option value="act">Agir</option>
       <option value="know">Savoir</option>
       <option value="endure">Endurer</option>
       <option value="force">Forcer</option>
       <option value="perceive">Percevoir</option>
       <option value="obtrude">S'imposer</option>
       <option value="expertise">Savoir-Faire</option>
       <option value="fight">Se battre</option>
       <option value="selfControl">Se contrôler</option>
       <option value="target">Viser</option>
    </select>
 </div>