<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.img}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- VALUES --}}
    <div class="grid grid-2col">
        {{!-- Prix --}}
        <div class="resource">
            <label class="resource-label">Quantity</label>
            <input type="number" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
          </div>

        {{!-- Prix --}}
        <div class="resource">
          <label class="resource-label">Prix</label>
          <input type="number" name="data.price" value="{{data.price}}" data-dtype="Number"/>
        </div>

        {{!-- Poids --}}
        <div class="resource">
          <label class="resource-label">Poids</label>
          <input type="number" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
        </div>

        {{!-- Aptitudes --}}
        <div class="resource">
            <label class="resource-label">Aptitude associée</label>
            <div>
                <select class="spec-parent" name="data.ability" data-dtype="String">
                    {{#select data.ability}}
                        <option value="fight">Se battre</option>
                        <option value="target">Viser</option>
                    {{/select}}
                </select>
            </div>
        </div>

        {{!-- Dêgats --}}
        <div class="resource">
            <label class="resource-label">Dêgats</label>
            <div>
                <select class="item-selected" name="data.damages" data-dtype="Number">
                {{#select data.damages}}
                    <option value="1">[1D] Mains nues</option>
                    <option value="2">[2D] Trés légére</option>
                    <option value="3">[3D] Légéres</option>
                    <option value="4">[4D] Moyenne</option>
                    <option value="5">[5D] Lourde</option>
                {{/select}}
                </select>
            </div>
        </div>

        {{!-- Mortalité --}}
        <div class="resource">
            <label class="resource-label">Mortalité (Relance)</label>
            <div>
                <select class="damages" name="data.lethality" data-dtype="Number">
                {{#select data.lethality}}
                    <option value="0">[0D] Normale</option>
                    <option value="1">[1D] Efficace</option>
                    <option value="2">[2D] Dangereuse</option>
                    <option value="3">[3D] Meurtrière</option>
                {{/select}}
                </select>
            </div>
        </div>

    </div>

    {{!-- Sheet Tab Navigation --}}
    <!-- <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav> -->

    {{!-- Sheet Body --}}
    <!-- <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{!-- As you add new fields, add them in here! --}}
        </div>
    </section> -->
</form>
