<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.img}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- VALUES --}}
    <div class="grid grid-2col">
        {{!-- Prix --}}
        <div class="resource">
            <label class="resource-label">Quantity</label>
            <input type="number" name="data.item.quantity" value="{{data.data.item.quantity}}" data-dtype="Number"/>
        </div>

        {{!-- Prix --}}
        <div class="resource">
          <label class="resource-label">Prix</label>
          <input type="number" name="data.item.price" value="{{data.data.item.price}}" data-dtype="Number"/>
        </div>

        {{!-- Poids --}}
        <div class="resource">
          <label class="resource-label">Poids</label>
          <input type="number" name="data.item.weight" value="{{data.data.item.weight}}" data-dtype="Number"/>
        </div>

        {{!-- Aptitudes --}}
        <div class="resource">
            <label class="resource-label">Aptitude associée</label>
            <div>
                <select class="spec-parent" name="data.item.ability" data-dtype="String">
                    {{#select data.data.item.ability}}
                        <option value="fight">Se battre</option>
                        <option value="target">Viser</option>
                    {{/select}}
                </select>
            </div>
        </div>

        {{!-- Dêgats --}}
        <div class="resource">
            <label class="resource-label">Dêgats</label>
            <div>
                <select class="item-selected" name="data.item.damages" data-dtype="Number">
                {{#select data.data.item.damages}}
                    <option value="1">[1D] Mains nues</option>
                    <option value="2">[2D] Trés légére</option>
                    <option value="3">[3D] Légéres</option>
                    <option value="4">[4D] Moyenne</option>
                    <option value="5">[5D] Lourde</option>
                {{/select}}
                </select>
            </div>
        </div>

        {{!-- Mortalité --}}
        <div class="resource">
            <label class="resource-label">Mortalité (Relance)</label>
            <div>
                <select class="damages" name="data.item.lethality" data-dtype="Number">
                {{#select data.data.item.lethality}}
                    <option value="0">[0D] Normale</option>
                    <option value="1">[1D] Efficace</option>
                    <option value="2">[2D] Dangereuse</option>
                    <option value="3">[3D] Meurtrière</option>
                {{/select}}
                </select>
            </div>
        </div>

    </div>
</form>
